@import models.Request
@(assts: Seq[Assistant], insts: Seq[Instructor], admins: Seq[Instructor])(implicit req: Request, msg: Messages)

@mainWithNav("Accounts Management", "Accounts mngt.", "sass/accounts_mngt.min.css") {

  <div class="container">
      <div class="row">
        <div class="col s12 ">
          <ul class="tabs">
            <li class="tab col s4"><a href="#tab1">Assistants</a></li>
            <li class="tab col s4"><a href="#tab2">Instructors</a></li>
            <li class="tab col s4"><a href="#tab3">Admins</a></li>
          </ul>
        </div>

        <div id="tab1" class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            @for(asst <- assts) {
              <li>
                @accHeader(asst.netId, s"${asst.firstName} ${asst.lastName}", asst.email)
                @asstContent(asst)
              </li>
            }
          </ul>
        </div>

        <div id="tab2" class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
          @for(inst <- insts) {
            <li>
              @accHeader(inst.netId, s"${inst.firstName} ${inst.lastName}", inst.email)
              @instContent(inst)
            </li>
          }
          </ul>
        </div>

        <div id="tab3" class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
          @for(admin <- admins) {
            <li>
              @accHeader(admin.netId, s"${admin.firstName} ${admin.lastName}", admin.email)
              @instContent(admin)
            </li>
          }
          </ul>
        </div>
      </div>
  </div>

  <script>
    $(".profile").initial({
      height: 46,
      width: 46,
      charCount: 2,
      fontSize: 20
    });

    $("input[name=delete]").on("keyup", function() {
      var input = $(this);
      var netId = input.data("netid");
      var delBtn = $("#delete-btn-"+netId);

      if (input.val() === netId) {
        delBtn.removeClass("disabled");
      } else {
        delBtn.addClass("disabled");
      }
    });
  </script>
}

@accHeader(netId: String, fullName: String, email: String) = {
  <div class="collapsible-header">
    <div class="row">
      <div>
        <img class="profile circle col" data-name="@fullName.split(" ").map(_.head.toString).reduce(_ + _)" />
        <h6 class="col">Net Id: @netId<br>@fullName<br>@email</h6>
      </div>
    </div>
  </div>
}

@asstContent(asst: Assistant) = {
  @defining(Seq(
    ("Job: " + asst.job, "Pay Rate ($/Hr): $" + asst.rate.toString),
    ("Username: " + asst.username, "Department: " + asst.department),
    ("Employee Id: " + asst.employeeId, "Title: " + asst.title),
    ("Title Code: " + asst.titleCode, "")
  )) { items =>
    <div class="collapsible-body">
      @for((l, r) <- items) {
        <div class="row">
          <p class="col s6 center-align">@l</p>
          <p class="col s6 center-align">@r</p>
        </div>
      }
      <div class="divider"></div>

      <div id="action-container">
        <form action="#">
          <div class="file-field input-field">
            <a class="btn orange">Change Password</a>
            <div class="file-path-wrapper">
              <input type="text" placeholder="New Password">
            </div>
          </div>
        </form>

        <form action="#">
          <div class="file-field input-field">
            <a id="delete-btn-@{asst.netId}" class="btn red disabled">Delete Account</a>
            <div class="file-path-wrapper">
              <input name="delete" type="text" data-netid="@asst.netId" placeholder="Type in this account net id to confirm.">
            </div>
          </div>
        </form>
      </div>
    </div>
  }
}

@instContent(inst: Instructor) = {
  <div class="collapsible-body">
    <div id="action-container">

      <div class="switch">
        <label>
        Instructor
          @if(inst.role == "admin") {
            <input type="checkbox" checked>
          } else {
            <input type="checkbox">
          }
          <span class="lever"></span>
          Admin
        </label>
      </div>

      <form action="#">
        <div class="file-field input-field">
          <a class="btn orange">Change Password</a>
          <div class="file-path-wrapper">
            <input type="text" placeholder="New Password">
          </div>
        </div>
      </form>

      <form action="#">
        <div class="file-field input-field">
          <a id="delete-btn-@{inst.netId}" class="btn red disabled">Delete Account</a>
          <div class="file-path-wrapper">
            <input name="delete" type="text" data-netid="@inst.netId" placeholder="Type in this account net id to confirm.">
          </div>
        </div>
      </form>
    </div>
  </div>
}