@import models.Request
@(asstsJson: String)(implicit req: Request, msg: Messages)

@mainWithNav("Assistants", "Assistants", "sass/assistants.min.css") {

  @* store assistants JSON data for client *@
  <div id="data" data-assts='@asstsJson'></div>

  <nav id="toolbar">
  @normalToolbar
  </nav>

  <div class="container">
    <div id="assts-list" class="collection">
      @* render assistants line item using js and the data above *@
    </div>
  </div>


  <script>
    $(document).on('click', 'a#search-icon',function() {
      $("#toolbar").addClass("white");
      $("#normal-tb").replaceWith(`@searchToolbar`);
      $("input[name=asst-search]").focus();
    });

    $(document).on('click', 'a#close-icon',function() {
      $("#toolbar").removeClass("white");
      $("input[name=asst-search]").val("").trigger({type: 'keyup'});
      $("#search-tb").replaceWith(`@normalToolbar`)
    });

    $(document).ready(function(){
      $("#toolbar").sticky({topSpacing:0});
    });

    mars.AssistantSearchJS().init();
  </script>
}


@normalToolbar = {
  <div id="normal-tb" class="nav-wrapper">
    <a href="#!" class="breadcrumb">Assistants</a>
    <ul class="right">
      <li><a id="search-icon" href="#"><i class="material-icons">search</i></a></li>
    </ul>
  </div>
}

@searchToolbar = {
  <div id="search-tb" class="nav-wrapper container row">
    <div class="input-field col s11">
      <input placeholder="Search by name or net id" name="asst-search" class="no-padding" type="text">
    </div>
    <a id="close-icon" class="col s1 no-padding" href="#"><i class="material-icons">close</i></a>
  </div>
}