@import models.Request
@(asst: Assistant, faceImgUrls: Seq[String])(implicit req: Request, msg: Messages, flash: Flash)

@fullName = @{s"${asst.firstName.capitalize} ${asst.lastName.capitalize}"}

@formField[T](name: String, label: String, value: T, _type: String="text") = {
  <div class="input-field">
    <label class="placeholder" for="@name" style="left: 0">@label</label>
    <input class="validate active" name="@name" id="@name" type="@_type" value="@value.toString" step="any">
  </div>
}

@mainWithNav(fullName, "Assistants", "sass/asst_detail.css") {

  <nav id="toolbar">
    <div id="normal-tb" class="nav-wrapper">
      <a href="@routes.Assistants.page()" class="breadcrumb">Assistants</a>
      <a href="#!" class="breadcrumb">@fullName</a>
    </div>
  </nav>

  <div class="row">
    @* left side *@
    <div id="record-table-container" class="col s12 l8">
       @* record table to be render by mars.RecordsTableJS.scala *@
    </div>

    @* right side *@
    <div class="col s12 l4">
      <div id="info-card" class="card">@* to be render by mars.AssistantInfoJS()*@</div>

      <div class="card">
        <div class="card-content">
          <span class="card-title"><b>Face Recognition Data Set</b></span>

          <select class="image-picker">
            @for(url <- faceImgUrls) {
              <option data-img-src="@url?size=64" value="@{url.split("/").last}"></option>
            }
          </select>

          <div class="card-action no-padding">
            <a class="waves-effect btn-flat orange-text darken-3 modal-trigger" href="#confirm-del-face-dialog">Remove</a>
          </div>

          <div id="confirm-del-face-dialog" class="modal">
            @*todo: maybe, move to client side*@
            @helper.form(action = routes.Assistants.deleteFace(asst.netId)) {
              <div class="modal-content">
                <h4>Delete Face</h4>
                <p>Assistant will be ask to take a new face image on the mobile app to replace this image.</p>
                <img id="confirm-del-face-dialog-img" src="@faceImgUrls.headOption.map(_ + "?size=128")" />
                <input id="face-id-holder" name="face-id" value="@faceImgUrls.headOption.map(_.split("/").last)" hidden>
              </div>
              <div class="modal-footer">
                <button id="delete-face-btn" href="#!" type="submit" class="modal-action modal-close waves-effect blue-text btn-flat">Delete</button>
                <a href="#!" class=" modal-action modal-close waves-effect blue-text btn-flat">Cancel</a>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#toolbar").sticky({topSpacing:0});
    });

    $("select").imagepicker({
      selected: function() {
        var imgId = $(this).val();
        $("#confirm-del-face-dialog-img").attr("src", "http://52.33.35.165:8080/api/assets/face/"+imgId+"?size=128");
        $("#face-id-holder").attr("value", imgId);
      }
    });

    mars.RecordsTableJS().init("@asst.netId");
    mars.AssistantInfoJS().init("@asst.netId");

    @flash.get("toast").map { msg => Materialize.toast('@msg', 5000); }
  </script>
}