@import models.Request
@import com.github.nscala_time.time.Imports._

@(wsToken: String, payPeriodInfo: PayPeriodInfo, totalTimes: Seq[TotalClockInTime])(implicit req: Request, msg: Messages)

@printDate(ms: Long) = {
  <p class="flow-text">
    @DateTimeFormat.forPattern("MM/dd/YY").print(ms)
  </p>
}

@mainWithNav("Dashboard", "Dashboard", "sass/dashboard.min.css") {

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>This Pay Period Dates</b></span>
      <table>
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Due Date</th>
            <th>Pay Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>@printDate(payPeriodInfo.start)</th>
            <th>@printDate(payPeriodInfo.end)</th>
            <th>@printDate(payPeriodInfo.due)</th>
            <th>@printDate(payPeriodInfo.pay)</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div id="chart"></div>
    </div>
  </div>

  <div id="react-current-clock-in"></div>

  <script>
    mars.CurrentClockInJS().init('@wsToken');

    $(function () {
      $('#chart').highcharts({
        colors: ["#4fc3f7"],
        chart: {
          type: 'column'
        },
        title: {
          text: 'Assistants Total Clocked in Hours for This Pay Period'
        },
        subtitle: {
          text: 'Top 30'
        },
        xAxis: {
          type: 'category',
          labels: {
            rotation: -45,
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Hours'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: 'This pay period: <b>{point.y:.1f} Hrs.</b>'
        },
        series: [{
          name: 'Total Hours',
          data: [
            @Html(totalTimes.map(x => s"['${x.name}', ${x.totalHrs}]").mkString(","))
          ],
          dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        }]
      });
    });
  </script>
}
