@import views.html.materials.matInput
@import models.Request

@(form: Form[String])(implicit req: Request, msg: Messages)

@main("Forgot Password", "sass/error_page.min.css") {

  <div class="valign-wrapper">
    <div class="row">
    @helper.form(action = routes.PasswdRecovery.emailPasswordReset(), 'id -> "form", 'class -> "center-align") {
      <p>
        Enter the net id associated with your account and<br/>
        we'll send you instructions to the account's email<br/>
        so you can create a new password.
      </p>
      <br/>
      <div class="s12 center">
        @matInput(form("net-id"), '_label -> "Net Id")
        <br/>
        <button class="waves-effect waves-light btn blue" type="submit">Email Me</button>
      </div>
    </div>
    }
  </div>

  <script>
    $(document).ready(function () {
      $('#form').validate({
        rules: {
          'net-id': {
            required: true,
            nowhitespace: true
          }
        },
        errorElement: "em",
        errorClass: "red-text"
      })
    });
  </script>
}