@(message: String)

@main("M.A.R.S.") {
    <h2>Play and Scala.js share a same message</h2>
    <ul>
        <li>Play shouts out: <em>@message</em></li>
        <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>

    </ul>

    <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
        <a href="javascript:void(0)" class="btn btn-link">Link</a>
    </p>
}
