@()

@main("M.A.R.S.") {
    <div id="login-left"></div>
    <div id="login-right">
        <div id="login-form">
            <h1 class="text-primary">Welcome!</h1>
            <p>Mavs Assistant Reporting System</p>
            <br/>
            <div class="form-group">
                <input class="form-control floating-label" id="focusedInput" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control floating-label" id="focusedInput" placeholder="Password" type="password">
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised">Login</a>

            <a href="javascript:void(0)" class="btn btn-flat btn-info">Sign up</a>
        </div>
    </div>
}