@import views.html.materials.matInput
@(loginForm: Form[Tuple2[String, String]])(implicit msg: Messages, flash: Flash)

@loginErr = @{
  loginForm("auth-err").errors.map(_.messages.mkString(", ")).mkString(", ")
}

@main("Login", stylesheets="sass/login.min.css") {
  <div class="row">
    <div id="login-left" class="col s0 m6 l9"></div>
    <div id="login-right" class="col s12 m6 l3">
      <div id="login-form-container" class="col s8 offset-s2">
        <h3 class="blue-text">Welcome!</h3>
        <span>Mavs Assistant Reporting System</span>

        <br/>
        @helper.form(action = routes.Login.auth(), 'id -> "login-form") {
          <div class="row">
            @matInput(loginForm("login-user"), '_label -> "Username")
            @matInput(loginForm("login-passwd"), '_label -> "Password", 'type -> "password")
            <div class="col s12">
              <a href="@routes.PasswdRecovery.forgotPasswordPage()">Forgot password?</a>
            </div>
          </div>

          <div class="form-group">
            <button id="login" class="waves-effect waves-light btn blue" type="submit">Login</button>
            <a href="@routes.SignUp.page()" id="sign-up" class="waves-effect btn-flat">Sign up</a>
          </div>
        }
      </div>

      <div id="login-snackbar-container" class="col s8 offset-s2"></div>
    </div>
  </div>

  <script>
    // show server side login error
    @if(loginErr.nonEmpty) {
      $(document).ready(function($) {
        $.snackbar({
          content: "@loginErr",
          timeout: 5000
        }).appendTo("#login-snackbar-container")
      });
    }

    @flash.get("toast").map { msg =>
      $.snackbar({
        content: "@msg",
        timeout: 7000
      }).appendTo("#login-snackbar-container");
    }

    // validate username and password login form fields
    $(document).ready(function () {
      $('#login-form').validate({
        rules: {
          'login-user': {
            required: true,
            nowhitespace: true
          },
          'login-passwd': {
            required: true
          }
        },
        errorElement: "em",
        errorClass: "red-text"
      })
    });
  </script>
}