@import models.Request
@(currentMenu: String)(implicit req: Request, msg: Messages)

@instMenuItems = @{
  Seq(
    ("Dashboard", "dashboard", routes.Home.page()),
    ("Assistants", "face"), routes.Assistants.page(),
    ("Settings", "settings"), routes.Application.index(),
    ("Logout", "exit_to_app", routes.Application.index())
  )
}

@adminMenuItems = @{
  Seq(
    ("Dashboard", "dashboard", routes.Home.page()),
    ("Assistants", "face", routes.Assistants.page()),
    ("Accounts mngt.", "account_circle", routes.Application.index()),
    ("Approval", "check_circle", routes.Approval.page()),
    ("Settings", "settings", routes.Application.index()),
    ("Logout", "exit_to_app", routes.Application.index())
  )
}

@menuItems = @{ if(req.session.get("role").contains("admin")) adminMenuItems else instMenuItems }

@NavContents = {

  <div class="valign-wrapper">
    <h4 class="valign center-block">M.A.R.S.</h4>
  </div>

  <div id="nav-logo-container">
    <span class="truncate" id="name-field">@req.session.get("full_name")</span>
    <span class="truncate" id="email-field">@req.session.get("email")</span>
    <img id="nav-logo" src="@routes.Assets.at("images/logo.png")">
    <img class="responsive-img" src="@routes.Assets.at("/images/material-bg.png")">
  </div>

  @for((title, icon, route) <- menuItems) {
    <li id="menu-item-container" class="no-padding @if(title == currentMenu) { active }">
      <a id="menu-item" href="@route" class="waves-effect waves-orange btn-flat">
        <i class="material-icons left">@icon</i>
        @title
      </a>
    </li>
  }
}

<div class="hide-on-large-only">
  <nav>
    <ul id="slide-out" class="side-nav">@NavContents</ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</div>


<div class="hide-on-med-and-down">
  <ul id="slide-out" class="side-nav fixed">@NavContents</ul>
</div>

<script>
  $('a#menu-item').click(function() {
    $('li#menu-item-container').removeClass().addClass("no-padding");
    var parent = $(event.target).parent();
    // if clicked the icon, pass on the click event to the menu item
    if (parent[0].id == "menu-item") {
      parent[0].click();
    } else {
      parent.removeClass().addClass('no-padding active');
    }
  });

  $('.button-collapse').sideNav({
      menuWidth: 320, // Default is 240
      edge: 'left' // Choose the horizontal origin
    }
  );
</script>
