#login-left {
    position: absolute;
    left: 0;
    height: 100%;
    background: url("http://crimeblog.dallasnews.com/files/2013/06/utarlington.jpg") no-repeat center center ;
    background-size: cover;
}

#login-right {
    position: absolute;
    right: 0;
    height: 100%;
    display: block;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#login-form {
    position: absolute;
    top: 35%;
}

#login-form a {
    float: right;
}

