@import play.api.i18n._
@import views.html.helper._

@(field: Field, args: (Symbol,Any)*)(implicit msg: Messages)

@elem      = @{ new FieldElements(field.id, field, null, args.toMap, msg) }
@hasErr    = @{ elem.field.errors.nonEmpty }
@inputType = @{ elem.args.getOrElse('type, "text") }
@value     = @{ if(inputType != "password") elem.field.value.getOrElse("") else "" }

<div class="input-field">
    <label class="Placeholder" for="@elem.id">@elem.args.get('_label)</label>
    <input class="validate" name="@elem.id" id="@elem.id" type="@inputType" value="@value">
    @if(hasErr) {
        <em id="@elem.id-err" class="red-text">@elem.errors.mkString(", ")</em>
    }
</div>